Port 4242
PermitRootLogin no
MaxAuthTries 3
AuthorizedKeysFile    .ssh/authorized_keys .ssh/authorized_keys2
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
PrintMotd no
ClientAliveInterval 180
Protocol 2
AllowUsers kmahdi